@media (min-width: 768px) {
	.col-sm-12 {
		width: 100%; }
	.col-sm-11 {
		width: 91.66666667%; }
	.col-sm-10 {
		width: 83.33333333%; }
	.col-sm-9 {
		width: 75%; }
	.col-sm-8 {
		width: 66.66666667%; }
	.col-sm-7 {
		width: 58.33333333%; }
	.col-sm-6 {
		width: 50%; }
	.col-sm-5 {
		width: 41.66666667%; }
	.col-sm-4 {
		width: 33.33333333%; }
	.col-sm-3 {
		width: 25%; }
	div.about .row {
		display: flex;
		flex-wrap: wrap;
	}
	div.what-i-can-do .row {
		display: flex;
		flex-wrap: wrap;
	}
	div.what-i-can-do .row > div {
		width: 50%;
	}
	div.what-i-can-do .row div div, div.what-i-can-do .row div.one,
	div.contacts .row div.one, div.contacts .row div.two, div.contacts .row div.three {
		margin-top: 56px;
	}
	div.contacts .row {
		display: flex;
	}
}